export NAME="kindd"

export C_COMPILER="-DCMAKE_C_COMPILER=clang"
export CXX_COMPILER="-DCMAKE_CXX_COMPILER=clang++"

export CMAKE_ARGS="-Wdeprecated  -Wno-dev"
export CMAKE_VERBOSE="-DCMAKE_VERBOSE_MAKEFILE=ON"
export CMAKE_EXPORT_JSON="-DCMAKE_EXPORT_COMPILE_COMMANDS=ON"

export CMAKE_DEBUG="-DCMAKE_BUILD_TYPE=Debug ../;"
export CMAKE_RELEASE="-DCMAKE_BUILD_TYPE=RELEASE ../;"

#eval "$(lorri direnv)"
