eval "$(lorri direnv)"

export C_COMPILER="-DCMAKE_C_COMPILER=${CC}"
export CXX_COMPILER="-DCMAKE_CXX_COMPILER=${CXX}"

export CMAKE_ARGS="-Wdeprecated -Wno-dev -Wall -Wextra -pedantic"
export CMAKE_VERBOSE="-DCMAKE_VERBOSE_MAKEFILE=ON"
export CMAKE_EXPORT_JSON="-DCMAKE_EXPORT_COMPILE_COMMANDS=ON"

export CMAKE_DEBUG="-DCMAKE_BUILD_TYPE=Debug ../;"
export CMAKE_RELEASE="-DCMAKE_BUILD_TYPE=RELEASE ../;"

export CMAKE_INCLUDE_CURRENT_DIR="-DCMAKE_INCLUDE_CURRENT_DIR=ON"
